<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-material/paper-material.html">

<dom-module id="view-joke-list">
    <template>
        <style>
             :host {
                display: block;
            }

            .paper {
                background: white;
            }

            .joke {
                width: 100%;
                box-sizing: border-box;
                padding: 10px;
                border-bottom: #dedede solid 1px;
            }
        </style>

        <h3>Jokes</h3>
        <paper-material role="listbox" elevation="1" class="paper">
            <template is="dom-repeat" items="[[jokes]]">
                <div class="joke">
                    <b>Text:</b> <span>[[item.text]]</span>
                    <br/>
                    <b>Punchline:</b> <span>[[item.punchline]]</span>
                    <br/>
                    <b>Added By:</b> <span>[[item.addedBy]]</span>
                    <br/>
                    <b>Joker:</b> <span>[[item.joker]]</span>
                    <template is="dom-if" if="[[_canDelete(item)]]">
                        <paper-icon-button icon="delete-forever" on-tap="_deleteItem"></paper-icon-button>
                    </template>
                </div>
            </template>
        </paper-material>
    </template>

    <script>
        "use strict";

        class ViewJokeList extends Polymer.Element {
            static get is() {
                return 'view-joke-list'
            }
            static get properties() {
                return {
                    jokes: {
                        type: Array,
                        notify: true
                    },
                    authenticated: {
                        type: Boolean,
                        notify: true,
                        value: false
                    }
                };
            }

            ready() {
                super.ready();
                this._handleDb();
            }


            _canDelete(item) {
                console.log(item);
                if (!this.authenticated) return false;
                if (item.uid == defaultAuth.currentUser.uid) return true;
                return false;
            }


            _deleteItem(e) {

                const id = e.model.item.id;
                firebase.database().ref('jokes/' + id).remove();
            }


            _handleDb() {
                var self = this;
                let jokesRef = firebase.database().ref('jokes');
                jokesRef.on('value', function (snapshot) {
                    let jokes = [];
                    snapshot.forEach(childSnapshot => {
                        let toAdd = childSnapshot.val();
                        toAdd.id = childSnapshot.getKey();
                        jokes.push(toAdd);
                    });
                    self.jokes = jokes;
                });
            }
        }

        window.customElements.define(ViewJokeList.is, ViewJokeList);
    </script>
</dom-module>