<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../elements/joke-card.html">
<dom-module id="view-joke-list">
    <template>
        <style>
             :host {
                display: block;
            }

            .paper {
                background: white;
            }

            .joke {
                border-bottom: #dedede solid 1px;
            }
        </style>

        <h3>Jokes</h3>
        <paper-material role="listbox" elevation="1" class="paper">
            <template is="dom-repeat" items="[[jokes]]">
                <div class="joke">
                    <joke-card joke="[[item.text]]" user="[[item.addedBy]]" 
                                punchline="[[item.punchline]]" 
                                joker="[[item.joker]]"
                                joke-id="[[item.id]]"
                                uid="[[item.uid]]">
                    </joke-card>
                    <!--<template is="dom-if" if="[[_canDelete(item)]]">
                        <paper-icon-button icon="delete-forever" on-tap="_deleteItem"></paper-icon-button>
                    </template>-->
                </div>
            </template>
        </paper-material>
    </template>

    <script>
        "use strict";

        class ViewJokeList extends Polymer.Element {
            static get is() {
                return 'view-joke-list'
            }
            static get properties() {
                return {
                    jokes: {
                        type: Array,
                        notify: true
                    },
                    authenticated: {
                        type: Boolean,
                        notify: true,
                        value: false
                    }
                };
            }

          
           
        }

        window.customElements.define(ViewJokeList.is, ViewJokeList);
    </script>
</dom-module>